<!-- Embedded JavaScript -->
<div class="portfolio-modal modal fade" id="jeevitha-portfolio" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body text-left">
                            <!-- Project Details Go Here -->
                            <h2>Swapna JK</h2>
                            <p class="item-intro text-muted">Session Timings: 6am - 7am</p>
                            <img class="img-responsive img-centered" width="300px" src="img/portfolio/swapna.jpg" alt="">
                            <h4>Short Bio</h4>

                            <p> 
                           Jeevitha started practising yoga under the guidance of a traditional guru in Andhra Pradesh in 2004. 
                           Yoga for her is self realization, awareness, being rounded and a complete bliss. For her teaching has 
                           always been a wonderful experience throughout and the passion. She has  participated in state, national 
                           and international level Yoga championships.She has won the Karnataka State Level Open Yogasana Championship in 
                           2013 held in Banglore, Karnataka.National Championship in 2006, 2007, and 2008.She continues to be the cheif 
                           judge and organizer for the state level yoga competetions and events.Despite the rigors of participating in 
                           competitions, Jeevitha has always managed to find time to serve others by teaching Yoga.Her students are of all 
                           ages and from various backgrounds. She has also trained children in her hometown for various Yoga championships 
                           and continues to do so. She believes that all these have been possible only because of her passion for Yoga. 
                           She has a degree in Bachelor of Engineering in Information Technology. Apart from yoga she loves 
                           cooking, dancing, swimming, driving and wishes to spread blissfulness through yoga for rest of her life.
                            </p>
                            <h4>Expertise and Teaching Style</h4>
                            <p>
                             Her teaching style involves holding Asanas with specific breath pattern. She has specialization in hatha 
                             yoga and also has experience in teaching other styles of yoga like ashtanga vinayasa  yoga, asanas with 
                             props and asana pranayam mudram. Being a versatile teacher, she sometimes does a mix and match of styles 
                             to keep the class entertaining.
                            </p>
                            <h4>Audience</h4>
                            <p>
                             Having expertise in multiple styles of yoga, she caters to both beginner and advanced levels of yoga students.
                            </p>
                            <h4>Class Content</h4>
                            <p>
                            Her class starts with breathing exercises, followed by a set of yogic 
                            postures with stress on breathing all the while and ends with pranayama.
                            </p>



                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Bio</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>