<!-- Embedded JavaScript -->
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <form id="signup-form" class="form-signin">
                            <h3 class="form-signin-heading">Sign up</h3>
                            <label for="inputEmail" class="sr-only">Email address</label>
                            <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                            <label for="inputPassword" class="sr-only">Password</label>
                            <input type="password" id="inputPassword" name="inputPassword" class="form-control" placeholder="Password" required>
                            <label for="confirmPassword" class="sr-only">Password</label>
                            <input type="password" id="confirmPassword" name="confirmPassword" onkeyup="checkPassword()" class="form-control" placeholder="Confirm Password" required>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="remember-me"> Remember me
                                </label>
                            </div>
                            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
        function checkPassword() {
            var pwd1 = document.getElementById('confirmPassword').value;
            var pwd2 = document.getElementById('inputPassword').value;
            if (pwd1 === pwd2) {
                alert("Password same");
            } else {
                alert("Password different");
            }
        }
</script>