<!-- Embedded JavaScript -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2>Swapna JK</h2>
                        <p class="item-intro text-muted">Yoga Practitioner.</p>
                        <img class="img-responsive" src="img/portfolio/roundicons-free.png" alt="">
                        <p>
                               I was suffering from Sciatica pain in my right leg and I have spent sleepless nights, when the pain used to be worst while I was travelling on my way to office. After many weekly appointments with numerous therapists and healthcare professionals, I wanted to try Yoga.
I started regular yoga classes. Gradually, and gently, the pain went away. More than that, I noticed a general improvement in my overall strength,
balance and flexibility. All my office stress used to be vanished by few mins of Pranayama Practice.
Over time, I developed a peace of mind and a transformation in my way of viewing the world.  That made me hooked, and thirsty to understand more of the potential of this amazing practice.
In this two years I have tried different types of yoga and experienced many different styles of teaching. I hold a PG Diploma in Yoga Vignana from Rashtriya Sanskrit Vidaypeetham, India.
Not only I practise yoga every day, I made my teen girls to practice it every day. I am glad to see that my peers wish them all the best when they are participating in Yoga Championships in my place.
I teach classical Hatha yoga postures. My classes are for mixed abilities and are especially suitable for anyone wishing to try yoga for the first time.
I demonstrate the various levels of each posture and you just choose the one which feels right for you and your body and work at your own pace.
My classes are open to everyone, irrespective of age, ability, shape or size! Each class includes strengthening and toning yoga postures, followed breathing and relaxation exercises.
So, come along and try a class. What have you got to lose?
                        </p>

                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>