<!-- Embedded JavaScript -->
<div class="portfolio-modal modal fade" id="prameela-portfolio" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body text-left">
                            <!-- Project Details Go Here -->
                            <h2>Prameela Ratnam</h2>
                            <p class="item-intro text-muted">Session Timings: 6am - 7am</p>
                            <img class="img-responsive img-centered" width="300px"  src="img/portfolio/prameela.jpg" alt="">
                            <h4>Short Bio</h4>

                            <p> 
                           Prameela took to yoga in 2007,  when doctors had diagnosed her with cervical spondylitis and the only 
                           medical cure was a surgery. Within few weeks she started noticing reduced pain in her neck region and 
                           she was feeling much fitter. This made her hooked to yoga and she enrolled for yoga classes and in the 
                           year 2010, she formally completed a diploma in Yoga from SVYASA University in Bangalore. In 2011, she 
                           was part of a TV7 programme called HealthPlanet, where she demonstrated different yoga postures and 
                           asanas in a series of more than 15 episodes. Not being a person who takes things on face value, she felt 
                           the need to understand the efficacy of yoga as an applied science and for this, she enrolled for a course 
                           on alternate therapy and yoga from Traditional Yoga in 2012. She then took up a course on RYT500 Advance 
                           Yoga Teacher Training to teach yoga the right way, and completed the same in 2013 from Traditional Yoga. 
                           She has also taken part in various state level and national level competitions and earn accolades for her 
                           performance. She recently won gold medals in AP State level championship and Telengana State level 
                           championships held in the year 2015 and has been selected for the National Yoga Championship. She 
                           currently holds the position of District Organizing secretary of Bhartiya Yoga Sansthan in Hyderabad. 
                            </p>
                            <h4>Expertise and Teaching Style</h4>
                            <p>
                             An expert in traditional or hatha yoga and ashtanga vinayasa yoga, 
                             she actually prefers to know the history and lifestyle of the student before teaching yoga classes.
                            </p>
                            <h4>Audience</h4>
                            <p>
                             Having expertise in multiple styles of yoga, she caters to both beginner and advanced levels of yoga students.
                            </p>
                            <h4>Class Content</h4>
                            <p>
                            Her class starts off with warm ups before going to 
                            different surya namaskar asanas and pranayama and finally ends with meditation.
                            </p>



                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Bio</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>