<!-- Embedded JavaScript -->
<div class="portfolio-modal modal fade" id="priyadarshini-portfolio" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body text-left">
                            <!-- Project Details Go Here -->
                            <h2>Swapna JK</h2>
                            <p class="item-intro text-muted">Session Timings: 6am - 7am</p>
                            <img class="img-responsive img-centered" width="300px" src="img/portfolio/priyadarshini3.jpg" alt="">
                            <h4>Short Bio</h4>

                            <p> 
                            Priyadarshini is a person who believes in excellence and has dedicated her life to the pursuit of 
                            same in Yoga.     She has been practicing Raja Yoga Meditation from the age of 18 at Shri Ram Chandra 
                            Mission.To further enhance her knowledge on Yoga Vignana, she did PG Diploma in Yoga Vignana from Rashtriya 
                            Sanskrit Vidya Peeth in Tirupati, Andhra Pradesh.Then she went to the prestigious Annamalai University in 
                            Chidambaram to complete her MSc in Yoga and get more comprehensive knowledge of both practical and 
                            philosophical aspects of Yoga. Having travelled far to learn this wisdom, she has now decided to impart 
                            it to the people who are keen to learn, and to make sure that she can convey it in the most suitable way 
                            possible, she did a teacher training course from Integral Yoga Institute in Coimbatore. Apart from the 
                            extensive knowledge and experience that she has in this ancient art she also holds a Bachelors degree in 
                            Computer Science as well.
                            </p>
                            <h4>Expertise and Teaching Style</h4>
                            <p>
                            She has an expertise in providing therapy classes for patients providing customized asanas and pranyama.
                            </p>
                            <h4>Audience</h4>
                            <p>
                             Her classes are most suitable for people with normal to lower stamina like old people and patients 
                             suffering or recovering from diseases. She only teaches female students.
                            </p>
                            <h4>Class Content</h4>
                            <p>
                            Each class starts with om chanting and eye movements followed by warm ups. Then there are a set of 
                            standing, sitting and lying asanas for all body types followed by deep relaxation of the body through Yoga Nidra and then Pranayama.
                            </p>



                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Bio</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>