<!-- Embedded JavaScript -->
<!-- Embedded JavaScript -->
<div class="portfolio-modal modal fade" id="signupModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div id="signup-template-holder" class="modal-body">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function matchPassword() {
        $('#passworddiv').removeClass('has-error');
        $('#passworddiv').removeClass('has-success');
        var pwd = document.getElementById('inputPassword').value;
        var confirm = document.getElementById('confirmPassword').value;
        if (pwd == confirm) {
            // do not show inline help and show that the passwords match.
            $('#passworddiv').addClass('has-success');
            $('#submit-signup').removeClass('disabled');
        } else {
            // show inline help and mention that the passwords do not match.
            $('#passworddiv').addClass('has-error');
            $('#submit-signup').addClass('disabled');
        }
    }

    function takeUserInputs() {
        var form = $('#signupform');
        $('#signupform').on('submit', function (e) {
            e.preventDefault();
        });
        jQuery.ajax({
            type: "POST",
            dataType: "json",
            url: "/signup",
            data: form.serialize(), // serializes the form's elements.
            complete: function (data) {
                // the data that comes here is a response object. One needs to take a look at the object before processing the same.
                // the response by the server comes in data.responseJSON.variablename
                setProperResponse(data.responseJSON);
                //   form.reset();
            }
        });
    }


    function setProperResponse(jsonResponse) {
        // error
        if (jsonResponse.type === 0) {
            showErrorMessageForUsers(jsonResponse.string);
        }
        // success
        if (jsonResponse.type === 1) {
            showVerificationSuccessMessage(jsonResponse.string);
        }
    }
    function showErrorMessageForUsers(jsonError) {
        $('#signup-errortext').removeClass('hidden');
    }

    function showVerificationSuccessMessage(jsonSuccess) {
        var htmlContent = "<p class='text-success'><h3>" +
            "A verification mail has been sent to your registered email address. Please follow the link in your mail and verify your email address.</h3></p>" +
    "<button type='button' class='btn btn-primary' data-dismiss='modal'> OK</button>";
        $('.modal-body').html(htmlContent);
    }

    function checkInput() {
        $('#signup-errortext').removeClass('hidden');
        $('#signup-errortext').addClass('hidden');
    }

    function loadVerifyMsgTemplate() {
        var t = document.querySelector('#verifymsg-template');
        var clone = document.importNode(t.content, true);
        $('#signup-template-holder').empty();
        $('#signup-template-holder').html(clone);
    }
    function loadSignupTemplate() {
        var t = document.querySelector('#signup-template');
        var clone = document.importNode(t.content, true);
        $('#signup-template-holder').empty();
        $('#signup-template-holder').html(clone);
    }

    function passwordCheck(){
        $('#password-errortext').removeClass('hidden');
        $('#password-errortext').addClass('hidden');
        var pwd = document.getElementById('inputPassword').value;
        if(pwd.length < 6){
             $('#password-errortext').removeClass('hidden');
        }
    }
</script>
<template id="verifymsg-template">
    <h3 class="text-success">A verification mail has been sent to your registered email address.
            Please follow the link in your mail and verify your email address.</h3>
    <button type="button" class="btn btn-primary" data-dismiss="modal"> OK</button>
</template>
<template id="signup-template">
    <h2>Sign up</h2>
    <form id="signupform" class="form-horizontal">

        <div id="emailid" class="form-group">
            <label class="col-xs-3 control-label">Email</label>
            <div class="col-xs-5">
                <input type="email" id="inputEmail" onkeyup="checkInput()" class="form-control" name="signup[username]" />
                <p id="signup-errortext" class="help-block hidden">This username is already registered.</p>
            </div>
        </div>
        <div id="passworddiv2" class="form-group">
            <label class="col-xs-3 control-label">Password</label>
            <div class="col-xs-5">
                <input type="password" onkeyup="passwordCheck()" id="inputPassword" class="form-control" name="signup[password]" />
                <p id="password-errortext" class="help-block hidden">The password has to be atleast 6 chars long</p>
            </div>
        </div>

        <div id="passworddiv" class="form-group">
            <label class="col-xs-3 control-label">Retype password</label>
            <div class="col-xs-5">
                <input type="password" id="confirmPassword" onkeyup="matchPassword()" class="form-control" name="confirmPassword" />
            </div>
        </div>
        <button type="submit" id="submit-signup" class="btn btn-primary" onclick="takeUserInputs()">Sign up</button>
    </form>
</template>