<!-- Embedded JavaScript -->
<div id="signin-pop" class="popover">
    <div class="arrow"></div>
    <h3 class="popover-title">Sign in</h3>
    <div class="popover-content">
        <form id="signin-form">
            <div class="form-group">
                <label for="email-address">Email address</label>
                <input type="email" class="form-control" name="signin[email]" id="signinemail" placeholder="you@email.com">
            </div>
            <div class="form-group">
                <label for="password-field">Password</label>
                <input type="password" class="form-control" name="signin[password]" id="signingpassword" placeholder="Password">
                <p id="signin-password-errortext" class="help-block hidden"></p>
            </div>
            <button type="submit" class="btn btn-primary" onclick="signInParams()">Sign in</button>
            <a href="#forgot-password-modal" data-toggle="modal" >forgot password</a>
        </form>
    </div>
</div>

<div class="modal fade" id="forgot-password-modal" tabindex="-1" role="dialog" aria-labelledby="forgotPasswordLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="forgot-password-modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Forgot Password</h4>
            </div>
            <div class="modal-body">
                <label for="email-address">Email address</label>
                <input type="email" class="form-control" name="forgotPassword[email]" id="forgotemail" placeholder="you@email.com">
                <p id="forgot-password-errortext" class="help-block hidden"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="verifyAndSendPassword()">Ask For a new password</button>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    function signInParams() {
        var form = $('#signin-form');
        form.on('submit', function (e) {
            e.preventDefault();
        });
        jQuery.ajax({
            type: "POST",
            dataType: "json",
            url: "/signin",
            data: form.serialize(), // serializes the form's elements.
            complete: function (data) {
                // the data that comes here is a response object. One needs to take a look at the object before processing the same.
                // the response by the server comes in data.responseJSON.variablename
                setProperResponsePage(data.responseJSON);
                //   form.reset();
            }
        });
    }
    var signin = false;
    function setProperResponsePage(jsonObject) {
        if (jsonObject.type == 0) {
            setErrorResponse(jsonObject);
        } else {
            //$('#sign-in-target').text("Sign out");
            //  $('#signin-form')[0].reset();
         //   setSuccessResponse();
          //  $('#signin-form')[0].reset();
           // $('#signin-pop').modalPopover('hide');
            window.location = "/userprofile";
        }
    }

    function setErrorResponse(jsonObject) {
        $('#signin-password-errortext').removeClass('hidden');
        $('#signin-password-errortext').text(jsonObject.string);
    }

    function forgotPassword() {
        $('#signin-form')[0].reset();
        $('#signin-pop').modalPopover('hide');
        $('#forgot-password-modal').modal('show');
    }

    function verifyAndSendPassword() {
        jQuery.ajax({
            type: "POST",
            dataType: "json",
            url: "/forgotpassword",
            data: form.serialize(), // serializes the form's elements.
            complete: function (data) {
                // the data that comes here is a response object. One needs to take a look at the object before processing the same.
                // the response by the server comes in data.responseJSON.variablename
                setForgotPasswordMessage(data.responseJSON);
                //   form.reset();
            }
        });
    }


    function setForgotPasswordMessage(jsonObject) {
        if (jsonObject.type == 0) {
            setErrorForgotPassword(jsonObject);
        } else {
            setSuccessForgotPassword(jsonObject);
        }
    }

    function setErrorForgotPassword(jsonObject) {
        $('#forgot-password-errortext').removeClass('hidden');
        $('#forgot-password-errortext').text(jsonObject.string);
    }

    function setSuccessForgotPassword(jsonObject) {
        $('#forgot-password-modal-content').clear();
        $('#forgot-password-modal-content').text("An email has been sent to your registered email address");
    }
</script>

<script type="text/javascript">
    var username ="<%=sessiondata%>";
</script>
<template id="logout-template">
    <a id="sign-out-target" href="/signout">Sign out</a>
</template>
<template id="login-template">
    <a id="sign-in-target" href="#signin-pop" data-toggle="modal-popover" data-placement="bottom">Sign in</a>
</template>

