<!-- Embedded JavaScript -->
<div class="portfolio-modal modal fade" id="swapna-portfolio" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body text-left">
                            <!-- Project Details Go Here -->
                            <h2>Swapna JK</h2>
                            <p class="item-intro text-muted">Session Timings: 6am - 7am</p>
                            <img class="img-responsive img-centered" src="img/portfolio/swapna.jpg" alt="">
                            <h4>Short Bio</h4>

                            <p> 
                            Suffering from Sciatia pain in her right leg, she had spent sleepless nights for months together.
                            The pain used to aggravate while she travelled on her way to office. After many weekly appointments 
                            with numerous therapists and healthcare professionals, when she could not get a permanent cure, she 
                            turned to yoga. She started with basic regular yoga classes. Gradually, she started noticing positive 
                            signs, the pain had become much less, there was an increase in overall strength in her body. She had more 
                            balance and flexibility. Even the office stress was gone with few minutes of Pranayam Practice. She had 
                            transformed from being a patient to normal and positive human being. This made her hooked to yoga and she 
                            became more enthralled with the potential of this amazing practice called yoga. Since then, she had devoted much 
                            of her time into yoga, learning the different types of yoga, experiencing different styles of teaching to get a 
                            better perspective of yoga. Her penchant for yoga did not end here. After having done her post graduation from 
                            IIT Madras, she went to Rashtriya Sanskrit VIdyapeetham, India for a PG Diploma in Yoga Vignana. She believes in 
                            the art of giving and hence, she not only practices yoga everyday but teaches as well. 
                            </p>
                            <h4>Expertise and Teaching Style</h4>
                            <p>
                             Her expertise is Classical Haath Yoga Postures. Her classes are more suitable for people who wish to try yoga 
                             for the first time and adhere to a schedule. She begins by demonstrating the various levels of each posture and 
                             based on the body type of the student, he/she can choose the right style and continue at their own pace.
                            </p>
                            <h4>Audience</h4>
                            <p>
                             Being a beginner level class, her classes are open for everyone irrespective  of age, ability, shape or size.
                            </p>
                            <h4>Class Content</h4>
                            <p>
                            Each class includes strengthening and toning yoga postures, followed by breathing and relaxation exercises.
                            </p>

                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Bio</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>