<template id="enrollment-form">
    <form class="form-horizontal">
        <div class="form-group">
            <label for="instructor name " class="col-sm-2 control-label">Instructor</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="enroll[instructor]" id="instructor" placeholder="instructor name" disabled>
            </div>
        </div>
        <div class="form-group">
            <label for="session-time" class="col-sm-2 control-label">Session Time</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="session-time" name="enroll[sessiontime]" placeholder="session time" disabled>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <select id="session-type" class="form-control">
                    <option id="daily" value="daily">Daily</option>
                    <option id="monthly" value="monthly">Monthly</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div id="date-picker" class="col-sm-offset-2 col-sm-10 input-group input-append date picker-padding" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
                <input id="dp3" type="text" class="form-control" size="16" placeholder="dd-mm-yyyy" aria-describedby="basic-addon2">
                <span class="input-group-addon" id="basic-addon2"><i class="fa fa-calendar-o"></i></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button id="pay-now" type="submit" class="btn btn-primary" disabled> Pay Now</button>
            </div>
        </div>
    </form>
</template>

<script type="text/javascript">
    function addEnrollmentForm(instructor, time) {
        var t = document.querySelector('#enrollment-form');

        var clone = document.importNode(t.content, true);
        $('#working-section').append(clone);
        $('#instructor').val(instructor);
        $('#session-time').val(time);
        setDatePicker();
    }

    function setDatePicker() {
        var startDate = new Date();
        $('#dp3').datepicker({
            onRender: function (date) {
                return date.valueOf() < startDate.valueOf() ? 'disabled' : '';
            }
        }
        ).on('changeDate', function (ev) {
            if (ev.date.valueOf() < startDate.valueOf()) {

            } else {
                $('#pay-now').prop('disabled', false);
            }
        }).data('datepicker');
    }
</script>