<div class="col-md-4">
        <div class="thumbnail text-center">
            <img class="img-responsive" src="/img/portfolio/swapna.jpg" alt="">
            <div class="caption-full">
                <h4>
                    <a href="#swapna-portfolio" data-toggle="modal" data-target="#swapna-portfolio">
                                        Swapna JK
                    </a>
                </h4>
                <h4>Session @ : 6am - 7am
                </h4>
                <a href="#" class="btn btn-xl" onclick="replaceSessionWindow('Swapna JK', '6am - 7am')">Enroll</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail text-center">
            <img class="img-responsive" src="/img/portfolio/prameela1.jpg" alt="">
            <div class="caption-full">
                <h4><a href="#prameela-portfolio" data-toggle="modal" data-target="#prameela-portfolio">
                                        Prameela Ratnam
                    </a>
                </h4>
                <h4>Session @ : 7am - 8am
                </h4>
                <a href="#" class="btn btn-xl" onclick="replaceSessionWindow('Prameela Ratnam', '7am - 8am')">Enroll</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail text-center">
            <img class="img-responsive" src="/img/portfolio/priyadarshini2.jpg" alt="">
            <div class="caption-full">
                <h4><a href="#priyadarshini-portfolio" data-toggle="modal" data-target="#priyadarshini-portfolio">
                                        Priyadarshini G
                    </a>
                </h4>
                <h4>Session @ : 12pm - 1pm
                </h4>
                <a href="#" class="btn btn-xl" onclick="replaceSessionWindow('Priyadarshini G', '12pm - 1pm')">Enroll</a>
            </div>
        </div>
    </div>


<script type="text/javascript">
    function replaceSessionWindow(instructor, time) {
        emptyWorkingSection();
        addEnrollmentForm(instructor, time);
    }

    function emptyWorkingSection() {
        $('#working-section').empty();
    }
</script>