<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ./../common/header%>
        <link href="css/userpage.css" rel="stylesheet">
        <link href="css/datepicker.css" rel="stylesheet">
        <link href="css/userpage.css" rel="stylesheet">
        

    </head>
    <body id="page-top" class="index">
        <% include usernavigation%>
        <div class="container page-padding">

            <div class="row">
                <div class="col-md-3">
                    <div class="list-group">
                        <a href="#" class="list-group-item active">Sessions</a>
                        <a href="#" class="list-group-item">Bookings</a>
                        <a href="#" class="list-group-item">Profile</a>
                    </div>
                </div>
                <div class="col-md-9" id="working-section">
                    <%include sessions%>
                </div>
            </div>
        </div>
        <% include ./../modals/swapnaportfolio%>
        <% include ./../modals/prameelaportfolio%>
        <% include ./../modals/priyadarshiniportfolio%>
        <% include enrollment%>
        <% include ./../common/htmlbodyend%>
        <script src="js/bootstrap-datepicker.js"></script>
        <script type="text/javascript">
           
            $('#dp3').datepicker();
        </script>
    </body>
</html>
