<!-- Embedded JavaScript -->
<p class="bg-primary">A verification mail has been sent to your registered email address. Please follow the link and verify
your mail.</p>
<button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> OK</button>