<!-- Embedded JavaScript -->
<section id="benefits">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Why us ?</h2>
                    <h3 class="section-subheading text-muted">Because we strive hard to provide you</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa fa-child fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Fitness</h4>
                    <p class="text-muted">We believe that a healthy you is always a better you. Practicing yoga daily, not only 
                        improves your fitness level but also increases your stamina and muscle strength, not to mention the ability
                         to focus more on work.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-home fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Home Comfort</h4>
                    <p class="text-muted">Our online capability lets you practice yoga anywhere you want without having to think 
                        about the extra time involved in commutation or preparation. Thus, saving a lot of your time.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-group fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Engagement</h4>
                    <p class="text-muted">We know, how for some of us, gym can be such a boring experience. Hence, we 
                        have put in extra care to make sure our experts keep you engaged for the entirety of the session 
                        and help you adhere to the routine.</p>
                </div>
            </div>
        </div>
    </section>