<!-- Embedded JavaScript -->
<section id="team" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                 <h2 class="section-heading">Team </h2>
            <h3 class="section-subheading text-muted">Meet our team of expert yoga practitioners.</h3>
            </div>
        </div>
        <div class="row">
            <div id="faculty" class="media">
                <a class="media-left" style="float: left" href="#">
                    <div class="thumbnail">
                        <img src="img/portfolio/swapna.jpg" alt="..." style=" width: 200px;">
                    </div>
                </a>
                <div class="media-body profile-content">
                    <h4 class="media-heading"> Swapna JK</h4>
   I was suffering from Sciatica pain in my right leg and I have spent sleepless nights, when the pain used to be worst while I was travelling on my way to office. After many weekly appointments with numerous therapists and healthcare professionals, I wanted to try Yoga.
I started regular yoga classes. Gradually, and gently, the pain went away. More than that, I noticed a general improvement in my overall strength,
balance and flexibility. All my office stress used to be vanished by few mins of Pranayama Practice.
Over time, I developed a peace of mind and a transformation in my way of viewing the world.  That made me hooked, and thirsty to understand more of the potential of this amazing practice.
In this two years I have tried different types of yoga and experienced many different styles of teaching. I hold a PG Diploma in Yoga Vignana from Rashtriya Sanskrit Vidaypeetham, India.
Not only I practise yoga every day, I made my teen girls to practice it every day. I am glad to see that my peers wish them all the best when they are participating in Yoga Championships in my place.
I teach classical Hatha yoga postures. My classes are for mixed abilities and are especially suitable for anyone wishing to try yoga for the first time.
I demonstrate the various levels of each posture and you just choose the one which feels right for you and your body and work at your own pace.
My classes are open to everyone, irrespective of age, ability, shape or size! Each class includes strengthening and toning yoga postures, followed breathing and relaxation exercises.
So, come along and try a class. What have you got to lose?
                </div>
            </div>
            <div style="clear: both"></div>
            <div class="media">
                <a class="media-left" style="float: left" href="#">
                    <div class="thumbnail">
                        <img src="img/portfolio/jeevitha.jpg" alt="..." style=" width: 200px;">
                    </div>
                </a>
                <div class="media-body profile-content">
                    <h4 class="media-heading">  Jeevitha Reddy</h4>
   Jeevitha started practising yoga under the guidance of a traditional guru in Andhra Pradesh in 2004.Yoga for her is self realization,
    awareness, being grounded and a complete bliss. For her teaching has always been a wonderful experience throughout and the passion.
    She has  participated in state, national and international level Yoga championships.She has won the Karnataka State Level Open Yogasana
    Championship in 2013 held in Banglore, Karnataka.National Championship in 2006, 2007, and 2008.She continues to be the cheif judge and
    organizer for the state level yoga competetions and events.Despite the rigors of participating in competitions, Jeevitha has always
    managed to find time to serve others by teaching Yoga.Her students are of all ages and from various backgrounds. She has also trained
    children in her hometown for various Yoga championships and continues to do so. Presently she is working in August Yoga.She believes
    that all these have been possible only because of her passion for Yoga.Her teaching style involves holding Asanas with specific breath
    pattern.Specialized in Hatha Yoga and apart from Hatha yoga he teaches few other styles (i.e. Asanas with Props,APM, Astanga Vinyasa etc)
    She has a degree in Bachelor of Engineering in Information Technology. Apart from yoga she loves cooking, dancing, swimming, driving
    and wishes to spread blissfulness through yoga for rest of her life.
                </div>
            </div>
            <div style="clear: both"></div>
            <div class="media">
                <a class="media-left" style="float: left" href="#">
                    <div class="thumbnail">
                        <img src="img/portfolio/prameela1.jpg" alt="..." style=" width: 200px;">
                    </div>
                </a>
                <div class="media-body profile-content">
                    <h4 class="media-heading">  Prameela Ratnam</h4>
  Prameela holds Diploma in YIC (Yoga Instructor Course) in 2010 from SVYASA-Hyderabad. She has finished Yoga Therapy Course in Traditional
       Yoga in 2012. She has successfully completed RYT 500 Advanced Yoga Teacher Training in 2013 . She has been registered in International
      Teacher Training Course in 2014. Currently she holds District Organizing secretary of Bharathiya Yoga Sansthan  in Hyderabad.
                </div>
            </div>
            <div style="clear: both"></div>
            <div class="media">
                <a class="media-left" style="float: left" href="#">
                    <div class="thumbnail">
                        <img src="img/portfolio/priyadarshini2.jpg" alt="..." style=" width: 200px;">
                    </div>
                </a>
                <div class="media-body profile-content">
                    <h4 class="media-heading">  Priyadarshini G</h4>
   Priyadarshini is a person who believes in excellence and has dedicated her life to the pursuit of same in Yoga.
     She has been practicing Raja Yoga Meditation from the age of 18 at Shri Ram Chandra Mission.To further enhance her knowledge
     on Yoga Vignana, she did PG Diploma in Yoga Vignana from Rashtriya Sanskrit Vidya Peeth in Tirupati, Andhra Pradesh.Then she
     went to the prestigious Annamalai University in Chidambaram to complete her MSc in Yoga and get more comprehensive knowledge
     of both practical and philosophical aspects of Yoga. Having travelled far to learn this wisdom, she has now decided to impart
     it to the people who are keen to learn, and to make sure that she can convey it in the most suitable way possible, she did a
     teacher training course from Integral Yoga Institute in Coimbatore. Apart from the extensive knowledge and experience that she
     has in this ancient art she also holds a Bachelors degree in Computer Science as well.
                </div>
            </div>
            <div style="clear: both;padding-bottom: 30px;"></div>
        </div>
    </div>
</section>