<!-- Embedded JavaScript -->
<section id="faq">
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">FAQ</h2>
            <h3 class="section-subheading text-muted">Have doubts? Look at some of the frequently asked questions.</h3>
        </div>
    </div>
<div class="panel-group text-left" id="accordion" role="tablist" aria-multiselectable="true" style="color: #000;">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" onClick="_gaq.push(['_trackEvent', 'FAQ', 'Q1']);"
                href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
           Q. How do I check if my microphone and webcamera are working ?
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body">
       Please follow the links to check if your webcamera or microphone is working.
          To check if your camera is working.
                <a href="http://www.html5rocks.com/en/tutorials/getusermedia/intro/#screenshot-stream" target="_blank">
                    click on the link here.
                </a>
           and try taking your snap.
          To check if your microphone is recognised by the browser.
                <a href="http://learnwithecho.com/testaudio.html" target="_blank">follow the link here.</a>
           and take Test 2 and then Test 3.
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" onClick="_gaq.push(['_trackEvent', 'FAQ', 'Q2']);"
                href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Q. Its not opening in Internet Explorer. What should I do ?
                </a>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
        Our conferencing application currently does not support internet explorer. We would request you to download chrome using the 
         <a href="https://www.google.com/chrome/browser/desktop/" target="_blank">link here</a> and are sorry if that caused inconvenience to you.
          If you do not have the option of downloading chrome or do not wish to, let us know, we will refund the money immediately.
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" onClick="_gaq.push(['_trackEvent', 'FAQ', 'Q3']);"
                data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Q. I am able to do video chat in google hangouts and skype but not in this application. What do I do ?
                </a>
            </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body">
        Don't worry, being a pure browser based application it has currently some restrictions on accesibility.
 We suggest you change your default settings in chrome using the 
                <a href="http://www.englishcentral.com/help?forum=20352981&article=25026232" target="_blank">
                    link here.
            </a>
          
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" onClick="_gaq.push(['_trackEvent', 'FAQ', 'Q4']);"
                data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
         Q. I really liked the daily session and would like to convert to monthly plan. How do I do that ?
                </a>
            </h4>
        </div>
        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
            <div class="panel-body">
       We are really glad you liked us. As for conversion, please pay the price of the monthly plan and
          we will refund the money you spent for the daily session you attended.
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" onClick="_gaq.push(['_trackEvent', 'FAQ', 'Q5']);"
                data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
         Q. The timing does not suit me. Are there sessions at other timings ?
                </a>
            </h4>
        </div>
        <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
            <div class="panel-body">
       We conduct sessions at the fixed timings but would love to know what time suits you and would try and make arrangements if possible.
        To tell us more about your session preference, 
                <a id="contact" href="#scheduleModal" data-toggle="modal" data-target="#scheduleModal" onclick="changeActive(this);">click here.</a>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" onClick="_gaq.push(['_trackEvent', 'FAQ', 'Q6']);"
                data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
         Q. Do you offer certifications on completion ?
                </a>
            </h4>
        </div>
        <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
            <div class="panel-body">
      No. We currently do not offer certifications.
            </div>
        </div>
    </div>
</div>
</div>
</div>
</section>