<!-- Embedded JavaScript -->
<section id="howitworks">
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">How it works</h2>
            <h3 class="section-subheading text-muted">Here's how the system works.</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <ul class="timeline">
                <li>
                    <div class="timeline-badge"><i class="fa fa-user fa-2x"></i></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">Step 1</h4>
                        </div>
                        <div class="timeline-body">
                            <p>Be sure to have microphone, web camera and good internet connectivity as it is a 
                                nteractive, live, online  session.</p>
                        </div>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-badge warning"><i class="fa fa-user fa-2x"></i></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">Step 2</h4>
                        </div>
                        <div class="timeline-body">
                            <p>Consider the date when you want your sessions and book them by paying for the same.
                            </p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="timeline-badge danger"><i class="fa fa-yahoo fa-2x"></i></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">Step 3</h4>
                        </div>
                        <div class="timeline-body">
                            <p>
                 Once you book, we would provide you the details of the session, link to join and send you reminders about the same.
                            </p>
                        </div>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-badge info"><i class="fa fa-user fa-2x"></i></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">Step 4</h4>
                        </div>
                        <div class="timeline-body">
                            <p>On the session date, open the link,allow access to web-camera and microphone and join the room for your yoga class.
                  For monthly sessions, the session will be conducted for consecutive days but you may inform us to reschedule the session in case of
             your unavailability</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <p class="lead"> For questions please call us <span class="label label-danger">+91 9591842107 / +1 667-207-2466</span>  or email us
        <span class="label label-primary">subscription@yogaindoors.com</span>
    </p>

</div>
</section>