<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ./../common/header%>
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
                    <!--[if lt IE 9]>
                                <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
                                <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
                            <![endif]-->
    </head>
    <body id="page-top" class="index">
        <!-- Navigation -->
        <% include navigationsystem%>
        <!-- Header -->
        <header>
            <div class="container">
                <div class="intro-text">
                    <!--<div class="intro-lead-in">Welcome To Our Studio!</div>-->
                    <div class="intro-lead-in">Practice the ancient art of yoga through our online, interactive sessions</div>
                    <a href="#signupModal" class="page-scroll btn btn-xl" data-toggle="modal">Sign up now!</a>
                    <a href="#qExpertModal" data-toggle="modal" data-target="#qExpertModal" class="page-scroll btn btn-xl">Need Yoga Advice? Ask Now!</a>
                </div>
            </div>
        </header>
        <!-- How It Works Section -->
        <% include howitworkstimeline%>

        <!-- Sesssion Section -->
        <% include sessionsection%>
        <!-- Benefits Section -->
        <% include benefitsection%>
        <!-- Team Section -->
        <% include team%>

        <!-- FAQ Section -->
        <% include faqsection%>

        <!-- Footer -->
        <% include ./../footersection%>

        <!-- Sign up modal  -->
        <% include ./../modals/signupmodal%>

        <!-- Sign in modal  -->
        <% include ./../modals/signinpopover%>
        <% include ./../modals/askexpertmodal%>
        <% include ./../modals/swapnaportfolio%>
        <% include ./../modals/jeevithaportfolio%>
        <% include ./../modals/prameelaportfolio%>
        <% include ./../modals/priyadarshiniportfolio%>
        <% include ./../common/htmlbodyend%>
    </body>
</html>
