<!-- Embedded JavaScript -->
<div class="row payment-panel">
    <div class="col-md-5 col-md-offset-1">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Daily Sessions</h3>
            </div>
            <div class="panel-body">

               Wish to try out a session with us ?<br />
                Enroll for our daily session @ Rs.100 only. <br>
                What more? We pledge
                <img style="width: 80%;" src="/img/sessions/3_day_guarantee.png">
               
                <a href="https://www.payumoney.com/paybypayumoney/#/25743" onClick="_gaq.push(['_trackEvent', 'PayMoney', 'Daily']);"
                class="btn btn-success col-lg-4 paybtn-css">PAY NOW</a>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Monthly Sessions</h3>
            </div>
            <div class="panel-body">
                We have monthly sessions offering you 20 sessions a month
                 @ Rs.2500 only. <br>
                What more ? We pledge
                <img style="width: 80%;" src="/img/sessions/7_day_guarantee.png">
                <a href="https://www.payumoney.com/paybypayumoney/#/22717" onClick="_gaq.push(['_trackEvent', 'PayMoney', 'Monthly']);"
                class="btn btn-success col-lg-4 paybtn-css">PAY NOW</a>
            </div>
        </div>
    </div>
</div>