<!-- Embedded JavaScript -->
<section id="sessions" class="bg-light-gray">
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Sessions</h2>
                    <h3 class="section-subheading text-muted lead">Sessions happen everyday @ 6 am, 7 am and 12 noon IST.</h3>
                </div>
            </div>
            <%include paymoney%>
        </div>
    </section>