<!-- Embedded JavaScript -->
<section id="team" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Team</h2>
                <h3 class="section-subheading text-muted">Meet our team of yoga experts</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="img/portfolio/swapna.jpg" class="img-responsive img-circle" alt="">
                    <h4> <a href="#swapna-portfolio" data-toggle="modal" data-target="#swapna-portfolio">
                                        Swapna JK
                        </a></h4>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="img/portfolio/priyadarshini3.jpg" width="240px" class="img-responsive img-circle" alt="">
                    <h4><a href="#priyadarshini-portfolio" data-toggle="modal" data-target="#priyadarshini-portfolio">
                                        Priyadarshini G
                        </a></h4>
                </div>
            </div>
             <div class="col-sm-4">
                <div class="team-member">
                    <img src="img/portfolio/prameela.jpg" class="img-responsive img-circle" alt="">
                    <h4><a href="#prameela-portfolio" data-toggle="modal" data-target="#prameela-portfolio">
                                        Prameela Ratnam
                        </a></h4>
                </div>
            </div>
            
        </div>
        <div class="row">
           <div class="col-sm-4">
                <div class="team-member">
                    <img src="img/portfolio/jeevitha.jpg" class="img-responsive img-circle" alt="">
                    <h4><a href="#jeevitha-portfolio" data-toggle="modal" data-target="#jeevitha-portfolio">
                                        Jeevitha Reddy
                        </a></h4>
                </div>
            </div>
        </div>
    </div>
</section>