<!-- Embedded JavaScript -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<title>YogaIndoors</title>
<!-- Bootstrap Core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<!-- Custom CSS -->
<link href="css/agency.css" rel="stylesheet">
<link href="css/howitworkstimeline.css" rel="stylesheet">
<script src="https://bitbucket.org/pellepim/jstimezonedetect/downloads/jstz-1.0.4.min.js"></script>
<script src="http://momentjs.com/downloads/moment.min.js"></script>
<script src="http://momentjs.com/downloads/moment-timezone-with-data.min.js"></script>
<!-- Custom Fonts -->
<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css">

<script type="text/javascript">
    function getTimeZone() {
        var tz = jstz.determine();
        var timeZone = moment.tz.zone(tz.name()).abbr(new Date().getTime());
        return timeZone;
    }
    function changeActive(element) {
        $("li.active").removeClass("active");
        $(element).closest('li').addClass("active");
    }
    function setInputValue() {
        var submitVal = getTimeZone();
        $('#scheduleform').append("<input type='hidden' name='schedule[locale]' value='" +
                 submitVal + "' />");
        return true;
    }
</script>
